.zaso-icon__block {
  display: flex;
  justify-content: left;
  align-items: center;
}
.zaso-icon__media,
.zaso-icon__text {
  display: inline-block;
}
.zaso-icon__media a,
.zaso-icon__text a,
.zaso-icon__media a:hover,
.zaso-icon__text a:hover {
  text-decoration: none;
  box-shadow: none;
  color: default;
}
.zaso-icon__media a span:before,
.zaso-icon__text a span:before {
  color: default;
  margin-right: 10px;
}
.zaso-icon__media p,
.zaso-icon__text p {
  margin: 0;
  padding: 0;
}
