.zaso-alert-box__messagebox {
  position: relative;
  background-color: default;
  margin: default;
  padding: default;
  border-width: default;
  border-radius: default;
  border-style: default;
  border-color: default;
  color: default;
  font-size: default;
}
.zaso-alert-box__messagebox p {
  padding: 0;
  margin: 0 0 1em;
}
.zaso-alert-box__messagebox p:last-child,
.zaso-alert-box__messagebox p:last-of-type {
  margin-bottom: 0;
}
.zaso-alert-box__closebtn {
  position: absolute;
  right: 1em;
  top: 0.5em;
  opacity: 0.8;
  color: default;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.zaso-alert-box__closebtn:hover {
  opacity: 1;
  background-color: transparent;
}
