.zaso-basic-tabs {
  margin: 0;
  padding: 0;
}
.zaso-basic-tabs__title {
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  margin: default;
  padding: default;
  border-radius: 0;
  border-style: solid;
  border-color: transparent;
  border-width: 2px 0 0 0;
  color: default;
  font-weight: default;
  text-align: default;
}
.zaso-basic-tabs__title:hover {
  background-color: default;
  border-style: solid;
  border-color: #333333;
  border-width: 2px 0 0 0;
}
.zaso-basic-tabs__title[aria-selected="true"] {
  background-color: default;
  border-style: solid;
  border-color: #333333;
  border-width: 2px 0 0 0;
  font-weight: default;
}
.zaso-basic-tabs__content {
  background-color: default;
  margin: default;
  padding: default;
  color: default;
  font-size: default;
}
.zaso-basic-tabs__content p {
  padding: 0;
  margin: 0 0 1em;
}
.zaso-basic-tabs__content p:last-child,
.zaso-basic-tabs__content p:last-of-type {
  margin-bottom: 0;
}
